body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(0, 94, 255);
}

header {
    background-color: #00b7ff;
    color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
}

body {
}


