body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    color: rgb(0, 64, 255);
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 34px;
}

header {
    border-bottom: 2px solid rgb(1, 35, 137);
}

nav {
    display: flex;
    justify-content: center;
    list-style: none;
    display: flex;
}

nav a {
    text-decoration: none;
}

nav li {
    list-style: none;
}
